body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color:#fff;
}


@media screen and (max-width:768px) {
    .nosotros{
        display: none;
    }
    
}
.wrap-icono{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-destacados img{
    height: 120 px;
    object-fit: cover;

}

.redes-sociales{
    display: flex;
    justify-content: space-around;

}

.nav-black{
    background-color: black;
    opacity: 0.9;
    color: #fff;
}